@{ Layout = "_Layout"; }

@model HairSalon.Models.Stylist

<h4>Add a New Stylist</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  @Html.LabelFor(model => model.StartDate)
  @Html.TextBoxFor(model => model.StartDate)
  <button type="submit">Add</button>
}
<p>@Html.ActionLink("Cancel", "Index")</p>